
.vagrant/machines/Server1/virtualbox/action_set_name
.vagrant/bundler/global.sol
.vagrant/machines/Server1/virtualbox/action_provision
.vagrant/machines/Server1/virtualbox/box_meta
.vagrant/machines/Server1/virtualbox/creator_uid
.vagrant/machines/Server1/virtualbox/id
.vagrant/machines/Server1/virtualbox/index_uuid
.vagrant/machines/Server1/virtualbox/private_key
.vagrant/machines/Server1/virtualbox/synced_folders
.vagrant/machines/Server1/virtualbox/vagrant_cwd
.vagrant/machines/Server2/virtualbox/action_provision
.vagrant/machines/Server2/virtualbox/action_set_name
.vagrant/machines/Server2/virtualbox/box_meta
.vagrant/machines/Server2/virtualbox/creator_uid
.vagrant/machines/Server2/virtualbox/id
.vagrant/machines/Server2/virtualbox/index_uuid
.vagrant/machines/Server2/virtualbox/private_key
.vagrant/machines/Server2/virtualbox/synced_folders
.vagrant/machines/Server2/virtualbox/vagrant_cwd
.vagrant/provisioners/ansible/inventory/vagrant_ansible_inventory
.vagrant/rgloader/loader.rb
